@{
    ViewData["Title"] = "Movie List";
}

@*Change the classes maybe*@ 
<table class="table table-bordered">
    <thead>
        <tr>
            <td>Category</td>
            <td>Title</td>
            <td>Year</td>
            <td>Director</td>
            <td>Rating</td>
            <td>Edited</td>
            <td>LentTo</td>
            <td>Notes</td>
        </tr>
    </thead>
</table>
